::-webkit-scrollbar {
    display: none;
}

body {
	background-color: #060606;
	color: #FFFFFF;
	font-family: Futura, sans-serif;
	font-size: 14pt;
}

section {
	height: 70vh;
	display: flex;
}

h1 {
	font-size: 81pt;
	text-align: center;
}

p {
	text-align: justify;
	text-indent: 5%;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.book_list { margin-left: 2em; }

.link { color: #70A8DB; }

.container {
	max-width: 900px;
	margin: auto;
}

#sections {
	display: flex;
	justify-content: space-between;
}

#math, #books { color: #EABF52; }

#machinelearning, #useful_links { color: #7C6EAE; }

#programming, #about_us { color: #62B55B; }

#other, #contacts { color: #F05A5A; }

#ADALINE-HOME {
	padding: 1em;
}

@media (max-width: 767px) {
	body {
		font-size: 12pt;
	}
	.sections {
		text-align: center;
		display: inline;
	}
}

#canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
